.cart-summary {
  background: #fff;
  border: 1px solid $color-border;
  border-radius: 8px;
  position: sticky;
  top: 88px;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 8px 16px;
    height: 52px;

    h4 {
      font-size: 20px;
      font-weight: 400;
      margin: 0;
    }
  }

  .empty {
    padding: 16px;
    text-align: center;
    min-height: 64px;
  }

  .action {
    border-top: 1px solid $color-border;
    padding: 16px;

    .btn {
      width: 100%;
    }
  }
}

dl.pricing {
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0 16px;

  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 14px;

    &.total {
      margin-top: 16px;
      padding-top: 16px;
      border-top: 1px solid $color-border;
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px;

      dt {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
      }

      dd {
        font-size: 18px;
        color: $color-text-secondary;
      }
    }

    button.remove {
      border: 0;
      background: none;
      padding: 0;
      color: $color-text-secondary;
      margin-right: 8px;
      opacity: 0.75;
      transition: all .3s;

      &:hover {
        color: $red;
        opacity: 1;
      }
    }

    dt {
      flex: 1;
      display: flex;
      margin-right: 16px;
      font-weight: normal;
      color: $color-text-secondary;
    }

    .quantity {
      font-weight: bolder;
      margin-right: 8px;
    }

    dd {
      margin-bottom: 0;
    }
  }
}