header {
  height: 64px;
  background: $color-primary;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  a {
    color: #fff;
    transition: all .3s;

    &.logo {
      font-size: 32px;
      font-weight: bold;
      line-height: 64px;
      cursor: pointer;
      color: #fff;
      text-decoration: none;
      margin-right: 32px;
    }

    &:hover {
      opacity: 0.75;
      color: #fff;
    }
  }

  nav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: flex-end;

      li {
        height: 40px;
        line-height: 40px;
        color: #fff;
        padding: 0 16px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;

        &:hover {
          text-decoration: none;
        }

        .cart-icon {
          height: 32px;
          padding: 0 8px;
          border-radius: 4px;
          border: 1px solid #fff;
          color: #fff;
          display: flex;
          align-items: center;
          line-height: initial;
          transition: all .3s;

          &:hover {
            background: #fff;
            color: #000;
          }
        }

        .avatar {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-right: 8px;
          object-fit: cover;
        }

        .dropdown {
          position: absolute;
          top: 100%;
          right: 0;
          min-width: 160px;
          border: 1px solid #ddd;
          background: #fff;
          color: $color-primary;

          a {
            padding: 8px 16px;
            line-height: 1;
            display: block;
          }
        }
      }
    }
  }

  .mobile-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    position: relative;

    button {
      border: 0;
      background: none;
      color: #fff;
      font-size: 24px;
    }

    .mobile-menu {
      position: absolute;
      z-index: 11;
      right: 0;
      top: 100%;
      background: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      width: 80vw;

      ul {
        display: block;
        list-style-type: none;
        width: 100%;

        li {
          display: block;
          text-align: right;
          width: 100%;
          height: 44px;
          border-bottom: 1px solid $color-border;
          color: $color-text-primary;

          a {
            display: block;
            height: 44px;
            color: $color-text-primary;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    .mobile-menu-toggle {
      display: none;
    }
  }
}