@import 'login-form';
@import 'restaurant';
@import 'meals';
@import 'cart';
@import 'orders';

* {
  box-sizing: border-box;
}

main {
  margin-top: 64px;
  min-height: 85vh;
  position: relative;
  background-color: #f5f5f5;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;

  .page-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border: 1px solid $color-border;
    color: $color-text-primary;
    margin-top: 24px;
    padding: 12px 16px;
    border-radius: 8px;

    h1 {
      font-size: 22px;
      margin: 0;
    }

    .btn.btn-primary {
      height: 40px;
      font-size: 14px;
    }
  }

  section.standard {
    .section-heading {
      background: $color-primary;
      padding: 12px 16px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      height: 52px;

      h2 {
        color: #fff;
        font-weight: bold;
        font-size: 24px;
        margin: 0;
      }
    }

    .section-body {
      padding: 16px;
      border: 1px solid $color-border;
      border-top: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background: #fff;
      overflow: auto;

      h3 {
        font-size: 20px;
      }

      p {
        font-size: 16px;
        color: $color-text-secondary;
      }
    }
  }
}

.MuiDialog-root {
  &.naked {
    .MuiDialogContent-root {
      padding: 0;
    }
  }

  &.edit-meal-form {
    .MuiDialog-paperWidthSm {
      width: 600px;
    }
  }

  .MuiDialogActions-root {
    display: flex;
    justify-content: center;
    padding: 16px;

    .MuiButton-containedSecondary {
      background-color: $color-secondary;

      &:hover {
        background-color: $color-text-primary;
      }
    }
  }
}

.order-confirm-summary {
  width: 500px;
  max-width: 100%;
}

.order-status-history {
  width: 360px;
  max-width: 100%;

  & > div {
    border-bottom: 1px solid $color-border;
    margin-bottom: 4px;
    flex-wrap: wrap;

    dt {
      margin-right: 16px;
    }
  }
}