table.meals {
  tr.meal {
    td {
      vertical-align: middle;
    }

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      margin-right: 16px;
    }

    h5 {
      font-size: 14px;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 4px;
    }

    p {
      font-size: 12px;
      color: $color-text-secondary;
      margin: 0;
    }

    .add-to-cart {
      position: relative;

      & > button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all .3s;
        border: 1px solid $color-text-secondary;

        &:hover, &.success {
          border-color: $color-secondary;
          color: $color-secondary;
        }
      }

      .options {
        position: absolute;
        z-index: 2;
        width: 200px;
        padding: 16px;
        border-top: 2px solid $color-secondary;
        background: #fff;
        left: 50%;
        top: 130%;
        transform: translateX(-90%);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

        &:before {
          position: absolute;
          top: 0;
          right: 8%;
          margin: auto;
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          border: 5px solid $color-secondary;
          border-right-color: transparent;
          border-bottom-color: transparent;
          transform: rotate(45deg) translateY(-3px) translateX(-7px);
        }

        h6 {
          font-size: 12px;
          border-bottom: 1px solid $color-border;
          padding-bottom: 4px;
          font-weight: bold;
        }

        .quantity-selector {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 16px;

          button.btn.btn-secondary {
            width: 26px;
            height: 26px;
            font-size: 18px;
            border-radius: 50%;
            padding: 0;

            &:disabled {
              color: $color-text-secondary;
            }

            &:hover:disabled {
              background: #f8f8f8;
              color: $color-text-secondary;
              cursor: not-allowed;
            }
          }

          span {
            margin: 0 8px;
            font-size: 18px;
          }
        }

        button.btn.btn-secondary {
          font-size: 12px;
          height: 26px;
          border-radius: 4px;
          padding: 0;
          width: 100%;
        }
      }
    }

    .actions {
      button {
        border: 0;
        background: none;
        color: $color-secondary;
        transition: all .3s;

        &:hover {
          background: $color-secondary;
          color: #fff;
        }
      }
    }
  }
}