.restaurant {
  padding: 24px;
  background: #fff;
  border: 1px solid $color-border;
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all .3s;
  text-align: center;
  position: relative;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 0 0 $color-border;
    text-decoration: none;

    h2 {
      color: $color-secondary;
    }
  }

  .heading {
    margin-bottom: 16px;
  }

  h2 {
    font-size: 24px;
    margin: 16px 0;
    color: $color-text-primary;
  }

  p {
    color: $color-text-secondary;
    font-size: 14px;
  }

  textarea {
    margin-bottom: 16px;
  }

  &:hover {
    .actions {
      opacity: 1;
    }
  }

  .actions {
    position: absolute;
    top: 16px;
    right: 16px;
    opacity: 1;
    transition: all .3s;

    button {
      background: none;
      border: 0;
      color: $color-secondary;
      transition: all .3s;

      &:hover {
        background-color: $color-secondary;
        color: #fff;
      }
    }
  }
}

@media (min-width: 768px) {
  .restaurant {
    .actions {
      opacity: 0;
    }
  }
}