.order {
    padding: 16px;
    border: 1px solid #000;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #888;
    padding-bottom: 8px;
    margin-bottom: 8px;
    align-items: center;
}

.date {
    font-size: 14px;
}

.status {
    padding: 4px 8px;
}

.user {
    font-size: 14px;
}

.block {
    font-size: 12px;
    font-weight: bold;
}

.actionBtn {
    align-self: flex-start;
}