.btn {
  border-radius: 8px;
  height: 48px;
  transition: all .3s;
  border: 0;
  font-weight: bold;
  white-space: nowrap;

  &.btn-primary {
    background: $color-secondary;
    color: #fff;

    &:hover {
      background: $color-text-primary;
    }
  }

  &.btn-secondary {
    background: #f8f8f8;
    color: $color-secondary;

    &:hover {
      background: $color-secondary;
      color: #fff;
    }
  }
}